@mixin center-absolute {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin active-slot {
  width: 75%;
  height: 75%;
  border: 3px solid #fff;
  border-radius: 10px;

  @include center-absolute;
}
