.mm-peg-tray {
  @extend .mm-row;
  $tray-width: $row-width + $row-height;

  width: $tray-width;
  vertical-align: middle;
  margin-bottom: $main-margin-bottom;

  .mm-peg-wrapper {
    width: ($tray-width / $number-of-colors);
    height: $row-height;
    position: relative;
    display: inline-block;
  }
}
